p{
  font-family: arial;
  margin-top:0;
  margin-bottom: 0;
}
.grid{
  display: grid;
  grid-template-columns: 170px 170px 170px ;
}
.pp1{
  width:150px;
  height:140px;
  object-fit: cover;
  margin-bottom: 10px;
}
.pp11{
  width:20px;
  height:20px;
  border-radius: 50px;
  margin-left: 5px;
  object-fit: cover;
  align-items: center;
}
.profile{
  width:150px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin-right:10px;
  vertical-align: top;
}
.mutualfriends{
  display:grid;
  grid-template-columns: 30px 100px;
  
}

.mutualf{
  color: rgb(100, 100, 100);
  font-size:13px;

}

.name{
  margin-top:0;
  font-family: arial;
  font-weight: bold;
  font-size:14px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.addfriend{
  background-color: rgb(24, 119, 242);
  border: none;
  color: white;
  padding-top:6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right:10px;
  border-radius:5px;
  margin-bottom: 10px;
  margin-top:10px;
  margin-left:5px;
}
